.q-page[data-v-14870f4f]{background-color:#fff}.row-all-breakpoints .row>div[data-v-14870f4f]{padding:10px 15px;background:rgba(#999,.15);border:1px solid rgba(#999,.2)}.row+.row[data-v-14870f4f]{margin-top:1rem}
