.q-page[data-v-67a6fc94]{background-color:#fff}.row-all-breakpoints .row>div[data-v-67a6fc94]{padding:10px 15px;background:rgba(#999,.15);border:1px solid rgba(#999,.2)}.row+.row[data-v-67a6fc94]{margin-top:1rem}
